@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f3f5;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 930px) {
  #navbar ul {
    background-color: lightblue;
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  #ex {
    font-size: 20px;
  }
}
