@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f3f5;
}
@media only screen and (max-width: 920px) {
  #navbar ul {
    background-color: lightblue;
    display: none;
  }
}
